.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.player-heatmap {
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  width: 450px;
  height: 271px;
}
.heatmap-canvas {
  /* background-image: url("/public/image/tennis_court.png"); */
  /* background-image: url('/image/tennis_court.png'); */
  background-image: url(../../../public/image/tennis_court.png);
}
.heatmap-canvas {
  /* background-image: url("/public/image/tennis_court.png"); */
  /* background-image: url("/image/tennis_court.png"); */
  background-image: url("/public/image/tennis_court.png");
  background-color: transparent;
  /* background-size: 450px 271px;
  width: 450px;
  height: 271px; */
}
.bounce canvas {
  margin: 10px;
  background-image: url(../../../public/image/tennis_court.png);

  background-image: url("/public/image/tennis_court.png");
}

.graph-info {
  display: flex;
  border-radius: 10px;
  background-color: #d2f15a;
  padding: 5px 800px;
  color: black;
}
.graph-info div {
  text-align: center;
  padding: 5px 30px;
}
