.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bounce {
  display: flex;
  border: 1px solid #3e4047;
  border-radius: 10px;

  /* border: 1px solid red; */
  background-color: #26282e;
  padding: 5px 20px;
  margin-top: 10px;
}
.bounce-chart canvas {
  margin: 10px;
  background-image: url("/public/image/tennis_court.png");
}
.graph-detail {
  padding: 20px;
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  margin: 10px;
}
.graph-detail h2 {
  padding: 0;
  margin: 16px 0 5px 0;
  border-bottom: 1px solid gray;
}
.graph-detail p {
  margin: 0;
  padding: 0;
}

.graph-info {
  display: flex;
  border-radius: 10px;
  background-color: #d2f15a;
  color: black;
}
.graph-info div {
  text-align: center;
  padding: 5px 30px;
}

.game-heatmap {
  border: 1px solid #3e4047;
  border-radius: 10px;
  display: flex;
  background-color: #26282e;
  margin: 10px;
  padding: 5px 20px;
  width: fit-content;
}

.player-heatmap {
  padding: 10px;
  width: 450px;
  height: 271px;
}
.heatmap-canvas {
  background-image: url(../../../public/image/tennis_court.png);
}
.graph-game {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.graph-rally {
  padding: 20px;
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  margin: 10px;
}

.graph-rally p {
  padding: 0;
  margin: 16px 0 5px 0;
  border-bottom: 1px solid gray;
}
.graph-rally div {
  margin: 0;
  padding: 0;
}
.graph-rally-button {
  display: flex;
}
.graph-rally-button div {
  padding: 3px 10px;
}
.graph-rally-button button {
  margin: 0 0 0 auto;
}
