.video-upload-area {
  background-color: #fff;
  position: relative;
  width: auto;
  height: fit-content;
  padding: 64px;
  margin: auto;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px 5px #a1a1a159; */
}

.name-area {
  width: 500px;
  text-align: center;
  position: relative;
}

.name-area input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid #999;
  outline: none;
}

.name-area label {
  font-size: 13px;
  position: absolute;
  left: 10px;
  top: 0;
}

.date-area {
  width: 100%;
  text-align: center;
}
/* 
input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  color: #999;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  color: #999;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  color: #999;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  color: #999;
} */
