.loader,
.loader:after {
  z-index: 10;
  /* margin: auto; */
  border-radius: 50%;
  width: 10em;
  height: 10em;
  top: 50%;
  left: 50%;
}
.loader {
  display: none;
  position: absolute;
  /* margin: 60px auto; */
  font-size: 10px;
  /* position: relative; */
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ff0000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.video-upload-area {
  background-color: #fff;
  position: relative;
  width: auto;
  height: fit-content;
  padding: 64px;
  margin: auto;
  border-radius: 20px;
}
.video-upload-area form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.video-upload-area form label {
  margin-left: 5px;
}

.date-area {
  width: 100%;
  text-align: left;
  /* margin: 5px 0; */
}
input[type="date"] {
  background-color: #999;
  border: none;
  padding: 5px;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
}

.video-area {
  border: none;
  width: fit-content;
}

.video-area input[type="file"] {
  border: 1px solid rgb(88, 88, 88);
  padding: 3px;
  border-radius: 2px;
}
.video-area input[type="file"]::-webkit-file-upload-button {
  background: #999;
  border: none;
  float: right;
  color: #fff;
  padding: 2px 5px;
}

.video-submit-btn button {
  margin-top: 5px;
  border-style: solid;
  border-color: #a4bb47;
  border-radius: 2px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  background-color: #d2f15a;
}
