.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  position: relative;
  z-index: 2;
}
.login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
/* 부모를 nelative를 부모라 하고 absolute를 자식이라 가정하면 부모가 자식의 영역을 제한 */
.int-area {
  width: 400px;
  position: relative;
  margin-top: 20px;
}
.int-area:first-child {
  margin-top: 0;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: 0;
  font-size: 13px;
  color: #d2f15a;
}

.btn-area {
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  background: #d2f15a;
  color: #000;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.caption {
  margin-top: 20px;
  text-align: center;
}

.caption a {
  font-size: 15px;
  color: #999;
  text-decoration: none;
}
