* {
  background-color: #13151a;
}

.card {
  display: flex;
  transform: scale(1);
  margin: 15px auto;
  /* transition: all 0.3s ease-in-out; */
}

.card :hover {
  /* width: 250px;
  height: 500px; */
  transition: all 0.3s ease;
  transform: scale(1.03);
}
