.signupPage {
  width: 100%;
  height: 100%;
  background: #1b1b27;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-title > a {
  display: flex;
  gap: 23px;
  align-items: center;
}
.signup-title img {
  width: 50px;
  height: 59.89px;
}
.signup-title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  color: #ffffff;
}
.signup-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a2a40;
  border-radius: 43px;
  width: 600px;
  /* height: 450px; */
  height: 600px;
}
.signup-msg {
  height: fit-content;
  /* margin: 5px; */
}
.signup-msg p {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #b1e457;
}

.signup-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.signup-form input {
  width: 500px;
  height: 40px;
  border: none;
  background: #6c727f;
  border-radius: 22px;
  padding-left: 10px;
  font-size: 24px;
}
.signup-form input::placeholder {
  font-style: normal;
  font-weight: 500;

  color: #c4c4c4;
}
.signup-form input[type="submit"] {
  padding: 0;
  width: 280px;
  height: 40px;

  background: #14142c;
  border-radius: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;

  color: #6c727f;
}
.signup-card-footer {
  text-align: center;
}
.signup-card-footer > p {
  font-family: "Mohave";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;
}
.signup-card-footer a {
  font-family: "Mohave";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #b1e457;
}
