.header {
  padding: 10px 0px;
  font-size: 20px;
  background-color: #3d414c;
  text-align: left;
  color: #fff;
  width: 100%;
}

.footer {
  padding: 10px;
  border-top: 1px solid #d9d9d9;
  font-size: 11px;
  font-size: 12px;
  background-color: transparent;
  text-align: center;
  color: white;
}

.logoutButton {
  background-color: #d2f15a;
  color: gray;
  margin: 3px 10px 0px 0px;
  float: right;
}
