.layout {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #1b1b27;
}

.SidebarContainer {
  position: sticky;
  width: 219px;
  height: 100vh;

  background: #2a2a40;
  box-shadow: 6.89913px 7.66569px 48.2939px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
  gap: 10px;
}
.logo > div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  gap: 50px;
}
.sidebar-item {
  display: flex;

  background-color: transparent;
  cursor: pointer;
}
.sidebar-item > img {
  margin: 0 10px 0px 20px;
}
.sidebar-item > div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}
.sidebar-line {
  border-left: 7px #5b4dff solid;
}
